[package]
name = "standard"
version = "0.2.4"
edition = "2024"

[dependencies]
steady_state = "0.2.5"
#steady_state     = { path = "../steady-state-stack/core" } # for testing


clap             = { version = "4.5.38", features = ["derive"] }
